<div class="side">
    <div class="row"><div class="col">&nbsp;</div></div>
    <div class="row border-bottom no-mr">
        <div class="row">
            <span class="avenir-black">CATEGORIE</span>
        </div>
        <div class="row">
            <span class="avenir-book text-marked mt-2">Riscaldamento</span>
        </div>
        <div class="row">
            <ul class="mt-1 list-unstyled padding-left-revert avenir-book">
                <li>Casa e acqua</li>
                <li>Casa</li>
                <lI>Acqua</lI>
            </ul>
        </div>
    </div>
    
    <side-element-root [elements]="sideElements"></side-element-root>
</div>
